extends layout.pug

block content
    p
        a.menu(href="/") Menu
    h1= "Wynik quizu"
    table.stats(style='width:100%', border='1')
        thead
            tr
                th Nr
                th Odpowiedź
                th Poprawna odpowiedź
                th Czy poprawna
                th Czas
                th Średni czas
        tbody
            each q_desc in questions
                tr
                    td #{q_desc.question_id}
                    td #{q_desc.user_answer}
                    td #{q_desc.right_answer}
                    td #{q_desc.correct}
                    td #{q_desc.time}
                    td #{q_desc.avg_time}

